<div class="mdl-grid">
   <div class="mdl-layout-spacer"></div>
   <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--10-col">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
				<p class="mdl-card__title-text">Post your Problem</p>
			</div>
	  	<div class="mdl-card__supporting-text">
            <form>
            <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col mdl-cell--4-col-tablet">
               <label class="mdl-textfield__label">Title</label>
               <input class="mdl-textfield__input" type="text" rows= "3" id="title" ng-model="Post.Title">
               <label class="mdl-textfield__label" for="title">Title</label>
            </div>
            <div <class="mdl-textfield mdl-js-textfield mdl-cell--12-col mdl-cell--4-col-tablet">
               <label class="mdl-textfield__label">Description</label>
               <textarea class="mdl-textfield__input" type="text" rows= "10" id="content" ng-model="Post.Description"></textarea>
               <label class="mdl-textfield__label" for="content">Description</label>
            </div>
          </form>			
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="createPost();">Submit</button>
			</div>
 </div>
   <div class="mdl-layout-spacer"></div>
</div>