
<div class="mdl-grid">
<!--<ul class="media-list">
<li class="media">
<div class="media-left image-padding">
      <a href="#">
        <img class="media-object" width="50px" height="50px" src="images/user.jpg" alt="Generic placeholder image">
      </a>
    </div>
	<div class="media-body">-->

<div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col mdl-shadow--6dp card-height">
				 <div class="mdl-card__title card-title-height">
				   <h4>{{PostDetail.title}}</h4>
				   
				 </div>
                 <div class="mdl-card__supporting-text card-body-height">
                 {{PostDetail.description}}
                 </div>
                 <div class="mdl-card__actions mdl-card--border ">
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent show-modal">Comment</button>
            </div>
            <dialog class=" mdl-dialog dialog-width">
                <div class="mdl-dialog__content">
                 <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col mdl-cell--4-col-tablet">
                    <textarea class="mdl-textfield__input" type="text" rows= "5" id="Comment" ng-model="Comment"></textarea>
                    <label class="mdl-textfield__label" for="Comment">Comment</label>
                </div>
                </div>
                <div class="mdl-dialog__actions ">
                    <button type="button" class="mdl-button" ng-click="PostComment();">Submit</button>
                <button type="button" class="mdl-button close">Close</button>
                </div>
            </dialog>

        

				</div>
                <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col mdl-shadow--3dp card-height" ng-repeat="item in Comments.comments">
				  <div class="mdl-card__title  card-title-height">
				   <h4>{{item.username}}</h4>
				   
				 </div>
                 <div class="mdl-card__supporting-text card-body-height">
                 {{item.comment}}
                 </div>
				</div>
                </div>
                
                
                
                  
		  <!--<div class="media">
        <a class="media-left image-padding" href="#">
          <img class="media-object" width="50px" height="50px" src="images/user.jpg" alt="Generic placeholder image">
        </a>
			<div class="media-body">-->
			  
				<!--</div>
				</div>-->
				
          
		
