<style>
.demo-card-event.mdl-card {
  width: 220px;
  height: 220px;
  background: #FF6E40;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
</style>
<input class="mdl-slider mdl-js-slider " type="range"
  min="0" max="5000000" value="0" tabindex="0" ng-change="unear()" ng-model="udistance">
  <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
  
<div class="mdl-grid">
<div class="mdl-cell mdl-cell--3-col" ng-repeat="user in users">
<div class="demo-card-event  mdl-card mdl-shadow--2dp  card-height">
                <div class="mdl-card__title mdl-card--expand">
                    <h4>
                    {{user.username}}</h4>
                    <img ng-src="{{user.profilepic}}" alt="Generic placeholder image">
                </div>
                
                 <div class="mdl-card__supporting-text">
                Posts: {{user.posts}}<br>
                Comments: {{user.comments}}<br>
                 Points: {{user.points}}
                 </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#/user/{{user._id}}">
                    View Profile
                    </a>
                </div>
                </div>
                  

</div>
</div>

    <script src="https://code.getmdl.io/1.1.1/material.min.js"></script>